main {
    background-color: #112752;
    min-height: 100vh;
}

.hero {
    background-image: url("../imgs/slz.webp");
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.bg-prim {
    background-color: #112752;
    color: #a5b9ce;
}

.bg-prim * {
    color: #a5b9ce;
}

.justify-text {
    text-align: justify !important;
}

.card-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
}

.card-container div {
    align-self: center;
    justify-self: center;
}

.imagem-redonda {
    border-radius: 50%;
}


@media only screen and (width >=992px) {
    .hero {
        height: 75vh;
    }

    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}